{% extends 'global/base3.html' %}

{% block texto %}

        <!-- Novas Camisetas -->
        <section id="inicio" class="mt-5">
            <h2 class="text-center">"Por Que Eu Deveria Me Desculpar Por Ser Um Monstro? Alguém Já Se Desculpou Por Me Transformar Em Um?" (Juuzou Suzuya)</h2>
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t1.webp" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t2.webp" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t3.jpg" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t4.jpeg" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t5.jpg" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t6.webp" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t7.webp" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t8.webp" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t9.jpg" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t10.jpg" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t11.jpg" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t12.jpg" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t13.jpg" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t14.jpg" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t15.jpeg" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/t16.jpg" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

{% endblock texto %}
       