{% extends 'global/base.html' %}

{% block texto %}

    <!-- Cabeçalho -->

    <!-- Conteúdo Principal -->

        <!-- Novas Camisetas -->
        <section id="inicio" class="mt-5">
            <h2 class="text-center">Novas Camisetas:</h2>
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/camisa1.webp" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/camisa2.webp" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/camisa3.webp" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/camisa4.webp" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <!-- Naruto -->
        <section id="naruto" class="mt-5">
            <h2 class="text-center">Naruto:</h2>

            <div class="row justify-content-center">
                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/naruto1.webp" class="card-img-top" alt="Naruto 1">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/naruto2.png" class="card-img-top" alt="Naruto 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/naruto3.png" class="card-img-top" alt="Naruto 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/naruto4.webp" class="card-img-top" alt="Naruto 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        

        <!-- Tokyo Ghoul -->
        <section id="tokyoghoul" class="mt-5">
            <h2 class="text-center">Tokyo Ghoul:</h2>
            <div class="row justify-content-center">
                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/tokyo1.jpg" class="card-img-top" alt="Tokyo 1">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/tokyo2.jpg" class="card-img-top" alt="Tokyo 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/tokyo3.avif" class="card-img-top" alt="Tokyo 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/tokyo4.jpg" class="card-img-top" alt="Tokyo 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Black Clover -->
            <section id="clover" class="mt-5">
                <h2 class="text-center">Black Clover:</h2>
                <div class="row justify-content-center">
                    <div class="col-6 col-sm-4 col-md-3">
                        <div class="card mb-3">
                            <img src="/static/global/images/clover1.jpg" class="card-img-top" alt="Clover 1">
                            <div class="card-body text-center">
                                <h3 class="card-title">R$69,90</h3>
                                <button class="btn btn-dark">Comprar</button>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-6 col-sm-4 col-md-3">
                        <div class="card mb-3">
                            <img src="/static/global/images/clover2.webp" class="card-img-top" alt="Clover 2">
                            <div class="card-body text-center">
                                <h3 class="card-title">R$69,90</h3>
                                <button class="btn btn-dark">Comprar</button>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-6 col-sm-4 col-md-3">
                        <div class="card mb-3">
                            <img src="/static/global/images/clover3.jpg" class="card-img-top" alt="Clover 3">
                            <div class="card-body text-center">
                                <h3 class="card-title">R$69,90</h3>
                                <button class="btn btn-dark">Comprar</button>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-6 col-sm-4 col-md-3">
                        <div class="card mb-3">
                            <img src="/static/global/images/clover4.png" class="card-img-top" alt="Clover 4">
                            <div class="card-body text-center">
                                <h3 class="card-title">R$69,90</h3>
                                <button class="btn btn-dark">Comprar</button>
                            </div>
                        </div>
                    </div>
    
                </div>
        </section>


        <!-- Últimas no Estoque -->
        <section id="estoque" class="mt-5">
            <h2 class="text-center">Últimas no Estoque:</h2>
            <div class="row justify-content-center">
                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/estoque1.jpeg" class="card-img-top" alt="Estoque 1">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/estoque2.png" class="card-img-top" alt="Estoque 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/estoque3.webp" class="card-img-top" alt="Estoque 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/estoque4.jpg" class="card-img-top" alt="Estoque 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>


{% endblock texto %}

