{% extends 'global/base2.html' %}

{% block texto %}

        <!-- Novas Camisetas -->
        <section id="inicio" class="mt-5">
            <h2 class="text-center">"Aqueles Que Não Entendem a Verdadeira Dor Nunca Vão Entender a Verdadeira Paz." (Pain)</h2>
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n1.webp" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n2.webp" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n3.webp" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n4.jpeg" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n5.webp" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n6.webp" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n7.webp" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n8.webp" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n9.webp" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n10.webp" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n11.jpg" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n12.jpg" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n13.webp" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n14.webp" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n15.jpeg" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/n16.jpg" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

{% endblock texto %}        
       
        
        

