<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onde Estamos</title>
</head>
<body>
    <h1>Onde estamos</h1>
    <table>
        <tr>
            <th>cidade</th>
                
            <th>estado</th>
        </tr>

        <tr>
            <td>sao paulo</td>

            <td>sp</td>
        </tr>

        <tr>
            <td>rio de janeiro</td>
                
            <td>rj</td>
        </tr>

    </table>
</body>
</html>