<!-- Modal sobre-->
<div class="modal fade" id="sobre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sobre nosso salão</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, ad maxime odit eligendi fugiat excepturi.
          Dolore beatae quaerat quam adipisci corrupti architecto, optio modi ducimus laudantium veniam neque, ex
          expedita.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal login-->
  <div class="modal fade" id="exampleModallogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Login de Usuário</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="" name="form_cadastrousuario">

            <label for="email">E-mail</label>
            <input type="email" name="email">
            <br>
            <br>
            <label for="senha">Senha</label>
            <input type="password" name="senha">
            <br>
            <br>

            <!--<input type="submit" name="logarrusuario" value="logar">-->

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Logar</button>
        </div>
      </div>
    </div>
  </div>