{% extends 'global/base4.html' %}

{% block texto %}

        <!-- Novas Camisetas -->
        <section id="inicio" class="mt-5">
            <h2 class="text-center">"A Gente Não Erra Em Amar Alguém, A Gente Erra Em Esperar Que Elas Nos Amem Da Mesma Forma." (Asta)</h2>
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b1.jpeg" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b2.webp" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b3.png" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b4.webp" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b5.jpg" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b6.jpeg" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b7.jpg" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b8.png" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b9.jpeg" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b10.jpeg" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b11.webp" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b12.webp" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="inicio" class="mt-5">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b13.jpeg" class="card-img-top" alt="Anime 1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b14.jpeg" class="card-img-top" alt="Anime 2">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b15.jpg" class="card-img-top" alt="Anime 3">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card mb-3">
                        <img src="/static/global/images/b16.jpeg" class="card-img-top" alt="Anime 4">
                        <div class="card-body text-center">
                            <h3 class="card-title">R$69,90</h3>
                            <button class="btn btn-dark">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

{% endblock texto %}