<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicios</title>
</head>
<body bgcolor = "pink">
    <h1>Home</h1>
    <p>Conteúdo da Página Sobre Exercicios</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Corporis culpa incidunt saepe, architecto eaque porro doloremque dolorem explicabo molestias? 
    Modi soluta mollitia nihil voluptatem libero aperiam, dolore accusamus incidunt saepe!
    
</body>
</html>