<aside>

    <h2>Assista o Trailer:</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aJRu5ltxXjc?si=l9EwreDecfeNjTkZ" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
</aside>

<footer class="text-center mt-5 py-4 bg-dark text-white">
    <p>&copy; 2024 Loja de Camisetas. Todos Os Direitos Reservados.</p>
    <p>Desenvolvido Por Richard Rocha.</p>
</footer>