<header>

    <h1>ANIMES SHIRTS</h1>
    
    <nav>
        <a href="{% url 'home' %}">Inicio</a> <!-- Seção interna da página atual -->
        <a href="{% url 'naruto' %}">Naruto</a> <!-- Página externa dentro do mesmo site -->
        <a href="{% url 'tokyoghoul' %}">Tokyo Ghoul</a> <!-- Página externa dentro do mesmo site -->
        <a href="{% url 'blackclover' %}">Black Clover</a> <!-- Página externa dentro do mesmo site -->
        <a href="{% url 'onepiece' %}">One Piece</a> <!-- Página externa dentro do mesmo site -->
    </nav>
                
</header>